/* #1abc9c */

.bg-color {
    background-color: #1abc9c!important;  
}

.widget-title {
    color: #1abc9c;
}

.list-menu a:hover {
    background: #1abc9c;
    color: #fff;
}

a {
    color: #1abc9c;
}

.navbar-toggle .icon-bar {
    background-color: #1abc9c;  
}

.button-portfolio a { 
    background:#1abc9c!important;
    color:#fff;
}

.thumbnail-portfolio .like span {
    color:#1abc9c!important;
}

.tp-bannertimer {
    background:#1abc9c!important;
    z-index: 20!important;
}

.top-navigation-inner .menu-top li a:hover , .font-color {
    color:#1abc9c;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background:#1abc9c;
    border:0px;
    border-bottom: 1px solid #1abc9c;
    color:#fff;

    border-radius: 0;
}

.hi-icon-effect-3b .hi-icon {
    background-color:rgba(0,0,0,0.6);
}

.hi-icon-effect-3 .hi-icon:after {
    background-color:#1abc9c;
}

.hi-icon-effect-3 .hi-icon:after {
    background-color:#1abc9c;
}

.hi-icon-effect-3 .hi-icon:hover {
    box-shadow: 0 0 0 4px #fff;
}

.hi-icon-effect-3 .hi-icon {
    box-shadow: 0 0 0 4px #1abc9c;
}

.thumbnails .label .date {
    color:#1abc9c;
    line-height: 24px;
}

.button-portfolio a:hover {
    border:5px solid #1abc9c;
}

.owl-controls .owl-page.active span , .single-blog .icon-type {
    background:#1abc9c!important;

}

.widget-tags a:hover , .frame-blog .date , .frame-blog .readmore a.readmore {
    font-family: 'Raleway', sans-serif;
    background:#1abc9c!important;
    color:#fff;
}

.pin-contact .label:hover {
    background:#1abc9c;
    border-color: #fff;
}

.pagination a.active {
    background: #1abc9c!important;
    color:#fff;
}

.button-q {
    font-family: 'Raleway', sans-serif;
    background: #1abc9c!important;
    color: #fff;
    padding: 10px 20px;
}

.thumbnail-services {
    border-color: #1abc9c!important;
}

.thumbnail-services span {
    font-size: 25px;
}

.box-services:hover .thumbnail-services span {
    color:#fff;
}

.box-services:hover .thumbnail-services {
    background: #1abc9c!important;
    border-color: #1abc9c!important;
}

.hover-font-color:hover {
    color: #1abc9c!important;
}

.option-social {
    border-color:#1abc9c!important;
}

.hi-icon-effect-3b div:hover h3 {
    color: #1abc9c;
}

.thumbnail-portfolio figcaption {
    background:#1abc9c;
}

.thumbnail-icon-about img {
    border: 3px solid #1abc9c;
}

.form-contact input[type="submit"] {
    background: #1abc9c!important;
}

.pin-contact .label {
    border-color: #1abc9c;
}

.tp-bullets.simplebullets .bullet.selected {
    background: #1abc9c!important;
}

.thumbnail-icon-about img:hover {
    background: #1abc9c;
    box-shadow: 5px 5px 10px rgba(26,188,156,0.5);
}