@import "bourbon/bourbon";
@import "mixins";

html {
    body {
        .panel-group {
            .panel {
                &.panel-default {
                    .panel-heading {
                        .panel-title {
                            &:before {
                                content: "";
                                display: none;
                            }
                            a {
                                display: block;
                                position: relative;
                                height: 40px;
                                line-height: 40px;
                                padding: 0 0 0 60px;
                                &:before {
                                    content: "\f067";
                                    display: inline-block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 40px;
                                    height: 40px;
                                    font-family: "Fontawesome";
                                    line-height: 40px;
                                    text-align: center;
                                    color: #fff;
                                    background-color: #222222;
                                    border-radius: 50%;
                                    @include transition(0.3s);
                                }
                            }
                        }
                        &:hover {
                            .panel-title {
                                a {
                                    &:before {
                                        background: #00b5e7;
                                    }
                                }
                            }
                        }
                    }
                    .panel-collapse {
                        .panel-body {
                            padding: 0;
                            text-align: justify;
                        }
                    }
                    &.active {
                        .panel-heading {
                            .panel-title {
                                a {
                                    &:before {
                                        content: "\f068";
                                        background: #00b5e7;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .left-accordion {
            .panel-group {
                .panel {
                    &.panel-default {
                        .panel-heading {
                            .panel-title {
                                a {
                                    padding: 0 60px 0 0;
                                    &:before {
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                    }
                                }
                            }
                        }
                        .panel-collapse {
                            .panel-body {
                                padding: 0 60px 0 0;
                            }
                        }
                    }
                }
            }
        }
        .right-accordion {
            .panel-group {
                .panel {
                    &.panel-default {
                        .panel-heading {
                            .panel-title {
                                a {
                                    padding: 0 0 0 60px;
                                    &:before {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                    }
                                }
                            }
                        }
                        .panel-collapse {
                            .panel-body {
                                padding: 0 0 0 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}
