@import "bourbon/bourbon";
@import "mixins";

$menu-skew: 60deg;

$menu-skew-li: $menu-skew;
$menu-skew-step-li: $menu-skew;
$menu-skew-step-a: -$menu-skew;
$menu-wrapper-rotation: 180deg;
$menu-rotate-li: 76deg;
$menu-rotate-a: -75deg;
$menu-rotate-step-li: 30deg;
$menu-translate-x-li: -4px;
$menu-translate-y-li: -2px;

$menu-toggle-size: 6em;

$menu-content-wrapper-size: 30em;

$menu-blue: #0093d2;
$menu-color: $menu-blue;
$menu-background: $menu-blue;

html {
    body {
        padding: 75px 0 0 0;
        p {
            margin: 0;
        }
        .site-logo,
        #header-lang,
        #header-share {
            height: 50px;
        }
        .site-logo {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        #header-share {
            margin-top: 0;
            a {
                margin: 10px 3px;
                &:link,
                &:visited,
                &:hover,
                &:active {
                    margin: 10px 3px;
                }
            }
        }
        #header-lang {
            #lang_sel_list {
                min-height: 32px;
                height: 100%;
                ul {
                    height: 100%;
                    @include clearfix();
                    li {
                        height: 100%;
                        a {
                            width: 30px;
                            height: 30px;
                            margin: 10px 3px;
                            line-height: 30px;
                            text-align: center;
                            &:link,
                            &:visited,
                            &:hover,
                            &:active {
                                margin: 10px 3px;
                            }
                        }
                    }
                }
            }
        }
        .top-navigation {
            position: fixed;
            top: 0;
            width: 100%;
            min-height: 75px;
            z-index: 990;
            .top-navigation-inner {
                .menu {
                    position: relative;
                    @include clearfix();
                    margin: 5px auto 0 auto;
                    #menu-toggle {
                        position: absolute;
                        top: 10px;
                        left: 50%;
                        width: $menu-toggle-size;
                        height: $menu-toggle-size;
                        padding-top: 0em;
                        margin-top: -$menu-toggle-size / 2;
                        margin-left: -$menu-toggle-size / 2;
                        line-height: $menu-toggle-size;
                        z-index: 11;
                        border: 1px solid #eee;
                        border-radius: 50%;
                        background: none;
                        background-color: #fff;
                        color: $menu-color;
                        text-align: center;
                        font-weight: 700;
                        font-size: 1.5em;
                        text-transform: uppercase;
                        cursor: pointer;
                        @include backface-visibility(hidden);
                    }
                    #menu-content-wrapper {
                        position: absolute;
                        top: 11px;
                        left: 50%;
                        width: $menu-content-wrapper-size;
                        height: $menu-content-wrapper-size;
                        margin-top: -$menu-content-wrapper-size / 2;
                        margin-left: -$menu-content-wrapper-size / 2;
                        z-index: 10;
                        border-radius: 50%;
                        background: transparent;
                        opacity: 0;
                        @include transform(rotate($menu-wrapper-rotation) scale(0.1));
                        @include transition(all 0.3s ease 0.3s);
                        pointer-events: none;
                        overflow: hidden;
                        .menu-top {
                            position: relative;
                            top: 30px;
                        }
                        li {
                            position: absolute;
                            top: 0;
                            left: 50%;
                            width: 10em;
                            height: 10em;
                            margin-top: -1.3em;
                            margin-left: -10em;
                            overflow: hidden;
                            font-size: 1.5em;
                            @include transition(all 0.3s ease);
                            @include transform(rotate($menu-rotate-li) skew($menu-skew-step-li));
                            @include transform-origin(100% 100%);
                            pointer-events: none;
                            &.current_page_item {
                                a {
                                    &:hover,
                                    &:active,
                                    &:focus,
                                    &:link,
                                    &:visited,
                                    &.active {
                                        color: #fff !important;
                                    }
                                }
                            }
                            a {
                                display: block;
                                position: absolute;
                                width: $menu-content-wrapper-size / 2;
                                height: $menu-content-wrapper-size / 2;
                                right: -$menu-content-wrapper-size / 4;
                                bottom: -$menu-content-wrapper-size / 4;
                                border-radius: 50%;
                                color: #fff;
                                text-align: center;
                                text-decoration: none;
                                font-size: 1.2em;
                                line-height: 2;
                                @include transform(skew($menu-skew-step-a) rotate($menu-rotate-a) scale(1));
                                @include radial-gradient(transparent 35%, $menu-background 35%, $fallback: $menu-background);
                                @include backface-visibility(hidden);
                                pointer-events: auto;
                                &:before {
                                    content: '';
                                }
                                span {
                                    display: block;
                                    position: relative;
                                    top: 5px;
                                    font-size: 0.5em;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    @include transform(rotate(180deg));
                                }
                                &:hover,
                                &:active,
                                &:focus,
                                &:link,
                                &:visited,
                                &.active {
                                    color: #fff !important;
                                    @include radial-gradient(transparent 35%, $menu-background 35%, $fallback: $menu-background);
                                }
                            }
                        }
                        &:after {
                            content: ".";
                            display: block;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            width: 6.2em;
                            height: 6.2em;
                            margin-left: -3.1em;
                            margin-top: -3.1em;
                            border-radius: 50%;
                            z-index: 10;
                            font-size: 2em;
                            color: transparent;
                        }
                        &.open {
                            border-radius: 50%;
                            opacity: 1;
                            @include transition(all 0.3s ease);
                            @include transform(rotate($menu-wrapper-rotation) scale(1));
                            pointer-events: auto;
                            li {
                                @include transition(all 0.3s ease 0.3s);
                                @for $i from 1 to 7 {
                                    &:nth-child(#{$i}) {
                                        @include transform(rotate(($i - 1) * $menu-rotate-step-li) skew($menu-skew-li) translateX($menu-translate-x-li) translateY($menu-translate-y-li));
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
            .navbar-nav {
                li {
                    a {
                        text-align: right;
                    }
                }
            }
        }
        .footer-wrapper {
            position: relative;
            width: 100%;
            padding: 10px 0;
            background: white;
            a,
            p {
                display: block;
                height: 20px;
                margin: 5px auto;
                font-size: 10px;
                line-height: 20px;
                text-align: center;
                color: black;
                padding: 0 25px;
                @include transition(color 0.3s ease-out);
            }
            a {
                float: left;
                border-right: 1px solid black;
                &:last-child {
                    border: none;
                }
                &:hover,
                &:active {
                    color: $menu-blue;
                }
            }
            .footer-links {
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate3d(-50%, -50%, 0));
            }
            @media (min-width: 768px) {
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 999;
            }
        }
    }
}

@import "accordions";
@import "slider";
@import "our-team";
